<nav class="navbar abeezee-regular">
  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/explore" routerLinkActive="active" aria-label="Explore">
          <i class="pi pi-compass nav-icon"></i>
          <span class="nav-text">Explore</span>
        </a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active" aria-label="Products">
          <i class="pi pi-box nav-icon"></i>
          <span class="nav-text">Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active" aria-label="Blog">
          <i class="pi pi-pencil nav-icon"></i> <!-- Icono más moderno -->
          <span class="nav-text">Blog</span>
        </a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" aria-label="Contact">
          <i class="pi pi-envelope nav-icon"></i>
          <span class="nav-text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-actions">
    <a routerLink="/login" routerLinkActive="active" aria-label="Login">
      <i class="pi pi-user nav-icon"></i>
      <span class="nav-text">Login</span>
    </a>
    <button class="cart-icon" aria-label="Shopping Cart">
      <i class="pi pi-shopping-cart"></i>
    </button>
  </div>
</nav>
