<nav class="navbar abeezee-regular">
  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active" aria-label="Home">
          <fa-icon [icon]="faHome" class="nav-icon"></fa-icon>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/explore" routerLinkActive="active" aria-label="Explore">
          <fa-icon [icon]="faEye" class="nav-icon"></fa-icon>
          <span class="nav-text">Explore</span>
        </a>
      </li>
      <li>
        <a routerLink="/saved" routerLinkActive="active" aria-label="Saved">
          <fa-icon [icon]="faHeart" class="nav-icon"></fa-icon>
          <span class="nav-text">Saved</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" aria-label="Profile">
          <fa-icon [icon]="faUser" class="nav-icon"></fa-icon>
          <span class="nav-text">Profile</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-actions">
    <a routerLink="/login" routerLinkActive="active" aria-label="Login">
      <fa-icon [icon]="faUser" class="nav-icon"></fa-icon>
      <span class="nav-text">Login</span>
    </a>
    <button class="cart-icon" aria-label="Shopping Cart">
      <fa-icon [icon]="faShoppingCart" class="nav-icon"></fa-icon>
    </button>
  </div>
</nav>